<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-success">
          <h6>Employe List</h6>
        
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <table class="table table-striped">
                    <thead>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                 </thead>
                  </table>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header bg-success">New Employe</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <label for="">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Email</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Phone</label>
              <input type="tel" class="form-control">
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Post Code</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-9">
              <label for=""> Address</label>
           <textarea name="" id="" class="form-control"></textarea>
            </div>
            </div>
            <div class="row pt-4">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-success">Add New Employe</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
